.u-section-1 {
  background-image: url("images/min.jpg");
  background-position: 50% 50%;
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 550px);
  min-height: 420px;
  background-image: none;
  height: auto;
  margin: 168px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-btn-1 {
  margin: 304px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 550px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 550px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
}